@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.header:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 4;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 87px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 28px 0 0;
  position: relative;
  z-index: 4;
}

.header__link {
  opacity: 0.67;
  font-size: 13.2px;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase;
  margin: 0 0 0 28px;
}

.header__button {
  position: relative;
  z-index: 4;
}

.header__button a {
  display: block;
  opacity: 0.81;
  font-size: 13.2px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50%;
  width: 110px;
  height: 50px;
  background-color: #bcd95b;
  text-align: center;
  padding: 18px 0;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 873px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header__burger:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 1.5px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 1.5px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    height: 1.5px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a4b7ab;
    z-index: 3;
    padding: 80px 0 0 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }
  .header__button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .header__button a {
    height: 30px;
    width: 75px;
    padding: 8px 0;
  }
  .header__list {
    display: block;
  }
  .header__link {
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    font-size: 25px;
  }
}

.conatiner {
  max-width: 1026px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 873px) {
  body.lock {
    overflow: hidden;
  }
}

.main {
  margin: 95px 0 0 0;
  min-height: 600px;
  background: url(../img/back.png) 50%/cover no-repeat;
  opacity: 0.9;
}

.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__text {
  padding: 129px 0 0 0;
  text-align: center;
  font-size: calc(25px + 19 * ((100vw - 320px) / 980));
  line-height: 77px;
  font-weight: 600;
  color: #000;
}

.main__text span {
  font-weight: 400;
  font-size: calc(22px + 13 * ((100vw - 320px) / 980));
}

.main__button {
  margin: 69px 0 0 0;
}

.main__button a {
  display: block;
  padding: 26px 0;
  width: 254px;
  height: 73px;
  text-align: center;
  border-radius: 3%;
  background-color: #99c50a;
  font-size: calc(15px + 4 * ((100vw - 320px) / 980));
  font-weight: 600;
  color: #ffffff;
}

.main__button a:active {
  margin: 2px 0 0 0;
}

@media (max-width: 873px) {
  .main {
    margin: 45px 0 0 0;
  }
  .main__text {
    padding: 70px 0 0 0;
  }
  .main__button {
    margin: 129px 0 0 0;
  }
  .main a {
    width: 180px;
    height: 50px;
    border-radius: 4%;
    padding: 17px 0;
  }
}

.container {
  max-width: 899px;
  margin: 0 auto;
}
