@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.header:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 4;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 87px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 28px 0 0;
  position: relative;
  z-index: 4;
}

.header__link {
  opacity: 0.67;
  font-size: 13.2px;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase;
  margin: 0 0 0 28px;
}

.header__button {
  position: relative;
  z-index: 4;
}

.header__button a {
  display: block;
  opacity: 0.81;
  font-size: 13.2px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50%;
  width: 110px;
  height: 50px;
  background-color: #bcd95b;
  text-align: center;
  padding: 18px 0;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 873px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .header__burger:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 1.5px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 1.5px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    height: 1.5px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a4b7ab;
    z-index: 3;
    padding: 80px 0 0 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }
  .header__button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .header__button a {
    height: 30px;
    width: 75px;
    padding: 8px 0;
  }
  .header__list {
    display: block;
  }
  .header__link {
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    font-size: 25px;
  }
}

.conatiner {
  max-width: 1026px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 873px) {
  body.lock {
    overflow: hidden;
  }
}

.slider {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider .slick-arrow {
  font-size: 0;
}

.slick-list {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick-slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.title__wrap {
  position: absolute;
  top: 27%;
}

.title__text {
  font-size: calc(20px + 27 * ((100vw - 320px) / 980));
  line-height: 77px;
  font-weight: 600;
  color: #fff;
}

.title__text span {
  font-size: calc(15px + 15 * ((100vw - 320px) / 980));
  font-weight: 400;
}

.title__button {
  margin: 79px 0 0 0;
}

.title__button a {
  padding: 25px 0;
  display: inline-block;
  font-size: calc(13px + 6 * ((100vw - 320px) / 980));
  font-weight: 600;
  color: #ffffff;
  width: 254px;
  height: 73px;
  background-color: #99c50a;
  border-radius: 5%;
}

.title__button a:active {
  margin: 2px 0 0 0;
}

@media (max-width: 873px) {
  .title__wrap {
    top: 20%;
  }
  .title__button {
    margin: 109px;
  }
}

@media (max-width: 500px) {
  .title__button a {
    padding: 8.5px 0;
    line-height: 1.2;
    width: 102px;
    height: 50px;
  }
}

@media (max-height: 470px) {
  .title__button {
    margin: 40px;
  }
}

.presentation {
  min-height: 100%;
  margin: 99px 0 0 0;
  padding: 0 0 99px 0;
}

.presentation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.presentation__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58px;
  flex: 0 0 58px;
}

.presentation__img img {
  max-width: 100%;
}

.presentation__title {
  margin: 52px 0 0 0;
  font-size: calc(15px + 16.2 * ((100vw - 320px) / 980));
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.presentation__subtitle {
  margin: 20px 5px 0 5px;
  max-width: 800px;
  opacity: 0.7;
  font-size: calc(13px + 6 * ((100vw - 320px) / 980));
  line-height: 1.2;
  color: #515151;
  text-align: center;
}

.presentation__subtitle p {
  padding: 50px 0 0 0;
}

@media (max-width: 873px) {
  .presentation {
    margin: 70px 0 0 0;
  }
  .presentation__title {
    margin: 42px 0 0 0;
  }
  .presentation__subtitle p {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 538px) {
  .presentation {
    margin: 50px 0 0 0;
    padding: 0 0 50px 0;
  }
  .presentation__title {
    margin: 32px 0 0 0;
    line-height: 30px;
  }
  .presentation__subtitle {
    margin: 5px 4px 0 4px;
  }
  .presentation__subtitle p {
    padding: 20px 0 0 0;
  }
}

.find {
  height: 100%;
}

.find__slide {
  min-width: 0;
  overflow: hidden;
  background-color: #e2f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 46px 73px 47px 141px;
}

.find__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 133px;
  flex: 0 0 133px;
}

.find__image img {
  max-width: 100%;
}

.find__title {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(15px + 8 * ((100vw - 320px) / 980));
  line-height: 1.2;
  font-weight: 600;
  color: #515151;
}

.find__subtitle {
  margin: 34px 0 0 0;
  max-width: 300px;
  font-size: calc(13px + 4 * ((100vw - 320px) / 980));
  line-height: 1.5;
  color: #515151;
}

.find__button {
  margin: 31px 0 0 0;
}

.find__button a {
  display: block;
  text-align: center;
  font-size: calc(12px + 4 * ((100vw - 320px) / 980));
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  width: 187px;
  height: 51px;
  background-color: #26a6d1;
  border-radius: 3%;
  padding: 13px 0;
}

@media (max-width: 873px) {
  .find__button a {
    padding: 16px 0;
  }
}

@media (max-width: 600px) {
  .find__slide {
    padding: 46px 73px 47px 80px;
  }
  .find__button a {
    width: 150px;
  }
}

.find__slide_gr {
  background-color: #f5f9eb;
}

.find__button_gr a {
  background-color: #add136;
}

.find__slides .slick-arrow {
  font-size: 0;
}

.tabs {
  min-height: 100%;
  margin: 167px 5px 107px 5px;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(16px + 14 * ((100vw - 320px) / 980));
  line-height: 1.2;
  font-weight: 200;
  color: #656565;
}

.tabs__body {
  margin: 105px 0 0 0;
}

.tabs__block {
  position: relative;
  display: none;
}

.tabs__block:target {
  display: block;
}

.tabs__block:before {
  content: '';
  position: relative;
  top: -80px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
}

.tabs__block:nth-child(1):before {
  background-color: #add136;
  position: relative;
  left: 0;
  width: 33.333%;
}

.tabs__block:nth-child(2):before {
  background-color: #add136;
  position: relative;
  left: 33.333%;
  width: 33.333%;
}

.tabs__block:nth-child(3):before {
  background-color: #add136;
  position: relative;
  left: 66.666%;
  width: 33.333%;
}

.tabs__wrap {
  max-width: 868px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs__image {
  margin: 0 50px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}

.tabs__image img {
  max-width: 100%;
}

.tabs__content {
  margin: 0 0 0 50px;
}

.tabs__title {
  font-size: calc(18px + 5 * ((100vw - 320px) / 980));
  line-height: 1.2;
  color: #add136;
}

.tabs__text {
  margin: 34px 0 0 0;
  opacity: 0.67;
  font-size: calc(13px + 3 * ((100vw - 320px) / 980));
  line-height: 1.2;
  color: #606060;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 873px) {
  .tabs {
    margin: 60px 10px 60px 10px;
  }
  .tabs__body {
    margin: 80px 0 0 0;
  }
  .tabs__block:before {
    top: -60px;
  }
  .tabs__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    margin: 0 25px 0 0;
  }
  .tabs__content {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 450px) {
  .tabs__item span {
    display: block;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .tabs__body {
    margin: 60px 0 0 0;
  }
  .tabs__block:before {
    top: -40px;
  }
  .tabs__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    margin: 0 15px 0 0;
  }
  .tabs__content {
    margin: 0 0 0 15px;
  }
  .tabs__text {
    margin: 15px 0 0 0;
  }
}
