// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$maxWidth: 1300;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

html,body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.ibg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img{display: none};
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 4;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 87px;
		align-items: center;
	}
	&__logo {
		flex: 0 0 160px;
		position: relative;
		z-index: 5;
		& img{
			max-width: 100%;
		}
	}
	&__burger {
		display: none;
	}
	&__menu {}
	&__list {
		display: flex;
		margin:  0 28px 0 0;
		position: relative;
		z-index: 4;
	}
	&__link {
		opacity: 0.67;
		font-size: 13.2px;
		font-weight: 600;
		color: #666666;
		text-transform: uppercase;
		margin: 0 0 0 28px;
	}
		&__button {
		position: relative;
		z-index: 4;
		& a{
			display: block;
			opacity: 0.81;
			font-size: 13.2px;
			font-weight: 600;
			text-transform: uppercase;
			border-radius: 50%;
			width: 110px;
			height: 50px;
			background-color: #bcd95b;
			text-align: center;
			padding: 18px 0;
			text-align: center;
			color: #ffffff;
		}
	}
@media (max-width: 873px) {
	&__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
		order:3;
		&:before{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			transition: all 0.3s ease 0s;
		}
		&:after{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 1.5px;
			left: 0;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}
		& span{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 1.5px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
	}
			&__burger.active:before{
				transform: rotate(45deg);
				top: 9px;
				height: 1.5px;
			}
			&__burger.active:after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&__burger.active span{
				transform: scale(0);
			}
			&__menu {
			position: fixed;
			top:-100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #a4b7ab;
			z-index: 3;
			padding: 80px 0 0 10px;
			transition: all 0.3s ease 0s;
			overflow: auto;
		}
		&__menu.active{
			top: 0;
		}
		&__body{
			height: 50px;
		}
		&__logo{
			order:1;
			flex: 0 0 100px;
		}
		&__button{
			order:2;
			& a{
				height: 30px;
				width: 75px;
				padding: 8px 0;
			}
		}
		&__list{
			display: block;
		}
		&__link{
			display: block;
			margin: 0 0 25px 0;
			text-align: center;
			font-size: 25px;
		}
	}
}
.conatiner {
	max-width: 1026px;
	margin: 0 auto;
	padding: 0 10px;
}

@media (max-width: 873px) {
	body.lock{
		overflow: hidden;
	}
}

//////////////////////  MAIN  //////////////////


.slider {
	min-height: 100vh;
	display: flex;
	position: relative;
	&__slide {
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.slick-arrow{
		font-size: 0;
	}
}

.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track{
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
}
.slick-slide{
	position: relative;
}











///////////////////////  PRESENTATION  /////////////////////////

.presentation {
	min-height: 100%;
	margin: 99px 0 0 0;
	padding: 0 0 99px 0;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		flex: 0 0 58px;
		& img{
			max-width: 100%;
		}
	}
	&__title {
		margin: 52px 0 0 0;
		@include adaptiv-font(31.2, 15);
		line-height: 50px;
		font-weight: 600;
		text-transform: uppercase;
		color: #515151;
		text-align: center;
	}
	&__subtitle {
		margin: 20px 5px 0 5px;
		max-width: 800px;
		opacity: 0.7;
		@include adaptiv-font(19, 13);
		line-height: 1.2;
		color: #515151;
		text-align: center;
		& p{
			padding: 50px 0 0 0;
		}
	}
}
@media (max-width: 873px) {
	.presentation{
		margin: 70px 0 0 0;
	}
	.presentation__title{
		margin: 42px 0 0 0;
	}
	.presentation__subtitle{
		& p{
			padding: 30px 0 0 0;
		}
	}
}
@media (max-width: 538px) {
	.presentation{
		margin: 50px 0 0 0;
		padding: 0 0 50px 0;
	}
	.presentation__title{
		margin: 32px 0 0 0;
		line-height: 30px;
	}
	.presentation__subtitle{
		margin: 5px 4px 0 4px;
		& p{
			padding: 20px 0 0 0;
		}
	}
}

/////////////////// FIND ////////////////

.find {
	height: 100%;
	&__slide {
		min-width: 0;
		overflow: hidden;
		background-color: #e2f8ff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 46px 73px 47px 141px;
	}
	&__image {
		flex: 0 0 133px;
		& img{
			max-width: 100%;
		}
	}
	&__body {}
	&__title {
		font-family: 'Montserrat', sans-serif;
		@include adaptiv-font(23, 15);
		line-height: 1.2;
		font-weight: 600;
		color: #515151;
	}
	&__subtitle {
		margin: 34px 0 0 0;
		max-width: 300px;
		@include adaptiv-font(17, 13);
		line-height: 1.5;
		color: #515151;
	}
	&__button {
		margin: 31px 0 0 0;
		& a{
			display: block;
			text-align: center;
			@include adaptiv-font(16, 12);
			line-height: 1.2;
			font-weight: 600;
			color: #ffffff;
			width: 187px;
			height: 51px;
			background-color: #26a6d1;
			border-radius: 3%;
			padding: 13px 0;
		}
	}
}
@media (max-width: 873px) {
	.find{
		&__button{
			& a{
			padding: 16px 0;
			}
		}
	}
}
@media (max-width: 600px) {
	.find{
		&__slide{
			padding: 46px 73px 47px 80px;
		}
		&__button{
			& a{
				width: 150px;
			}
		}
	}
}
.find__slide_gr{
	background-color: #f5f9eb;
}

.find__button_gr{
	& a{
		background-color: #add136;
	}
}

.find__slides{
	.slick-arrow{
		font-size: 0;
	}
}