// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$maxWidth: 1300;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

html,body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 4;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 87px;
		align-items: center;
	}
	&__logo {
		flex: 0 0 160px;
		position: relative;
		z-index: 5;
		& img{
			max-width: 100%;
		}
	}
	&__burger {
		display: none;
	}
	&__menu {}
	&__list {
		display: flex;
		margin:  0 28px 0 0;
		position: relative;
		z-index: 4;
	}
	&__link {
		opacity: 0.67;
		font-size: 13.2px;
		font-weight: 600;
		color: #666666;
		text-transform: uppercase;
		margin: 0 0 0 28px;
	}
		&__button {
		position: relative;
		z-index: 4;
		& a{
			display: block;
			opacity: 0.81;
			font-size: 13.2px;
			font-weight: 600;
			text-transform: uppercase;
			border-radius: 50%;
			width: 110px;
			height: 50px;
			background-color: #bcd95b;
			text-align: center;
			padding: 18px 0;
			text-align: center;
			color: #ffffff;
		}
	}
@media (max-width: 873px) {
	&__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
		order:3;
		&:before{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			transition: all 0.3s ease 0s;
		}
		&:after{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 1.5px;
			left: 0;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}
		& span{
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 1.5px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
	}
			&__burger.active:before{
				transform: rotate(45deg);
				top: 9px;
				height: 1.5px;
			}
			&__burger.active:after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&__burger.active span{
				transform: scale(0);
			}
			&__menu {
			position: fixed;
			top:-100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #a4b7ab;
			z-index: 3;
			padding: 80px 0 0 10px;
			transition: all 0.3s ease 0s;
			overflow: auto;
		}
		&__menu.active{
			top: 0;
		}
		&__body{
			height: 50px;
		}
		&__logo{
			order:1;
			flex: 0 0 100px;
		}
		&__button{
			order:2;
			& a{
				height: 30px;
				width: 75px;
				padding: 8px 0;
			}
		}
		&__list{
			display: block;
		}
		&__link{
			display: block;
			margin: 0 0 25px 0;
			text-align: center;
			font-size: 25px;
		}
	}
}
.conatiner {
	max-width: 1026px;
	margin: 0 auto;
	padding: 0 10px;
}

@media (max-width: 873px) {
	body.lock{
		overflow: hidden;
	}
}

//////////////////////  MAIN  //////////////////
.main {
	margin: 95px 0 0 0;
	min-height: 600px;
	background: url(../img/fon.png) 50%/ cover no-repeat;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__text {
		padding: 129px 0 0 0;
		text-align: center;
		@include adaptiv-font(44, 25);
		line-height: 77px;
		font-weight: 600;
		color: #fff;
		& span{
			font-weight: 400;
			@include adaptiv-font(35, 22);
		}
	}
	&__button {
		margin: 119px 0 0 0;
		& a{
			display: block;
			padding: 26px 0;
			width: 254px;
			height: 73px;
			text-align: center;
			border-radius: 3%;
			background-color: #99c50a;
			@include adaptiv-font(19, 15);
			font-weight: 600;
			color: #ffffff;
			&:active{
				margin: 2px 0 0 0;
			}
		}
	}
}
@media (max-width: 873px) {
	.main{
		margin: 45px 0 0 0;
	}
	.main__text{
		padding: 100px 0 0 0;
	}
	.main__button{
		margin: 179px 0 0 0;
	}
	.main a{
			width: 180px;
			height: 50px;
			border-radius: 4%;
			padding: 17px 0 ;
	}
}
@media (max-width: 538px) {
	.main__text{
		padding: 40px 5px 0 5px ;
	}
	.main__button{
		margin: 135px 0 0 0;
	}
}
.container {
	max-width: 899px;
	margin: 0 auto;
}
///////////////////////  PRESENTATION  /////////////////////////

.presentation {
	min-height: 100%;
	margin: 99px 0 0 0;
	padding: 0 0 167px 0;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		flex: 0 0 58px;
		& img{
			max-width: 100%;
		}
	}
	&__title {
		margin: 52px 0 0 0;
		@include adaptiv-font(31.2, 15);
		line-height: 50px;
		font-weight: 600;
		text-transform: uppercase;
		color: #515151;
		text-align: center;
	}
	&__subtitle {
		margin: 20px 5px 0 5px;
		opacity: 0.7;
		@include adaptiv-font(19, 13);
		line-height: 1.2;
		color: #515151;
		text-align: center;
		& p{
			padding: 50px 0 0 0;
		}
	}
}
@media (max-width: 873px) {
	.presentation{
		margin: 70px 0 0 0;
	}
	.presentation__title{
		margin: 42px 0 0 0;
	}
	.presentation__subtitle{
		& p{
			padding: 30px 0 0 0;
		}
	}
}
@media (max-width: 538px) {
	.presentation{
		margin: 50px 0 0 0;
	}
	.presentation__title{
		margin: 32px 0 0 0;
		line-height: 30px;
	}
	.presentation__subtitle{
		margin: 5px 4px 0 4px;
		& p{
			padding: 20px 0 0 0;
		}
	}
}
